.App {
  text-align: center;
  background-color: #eee;
  min-height: 100vh;
  padding-bottom: 60px;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subtext {
  font-size: 0.6em;
  position: relative;
  bottom: 20px;
}

.App-link {
  color: #61dafb;
}
